<app-offcanvas
[canvasNumber]="this.canvasNumber"
[selectedFoodToCheck]="this.selectedFood"
(valueChanged)="this.newFoodPicked($event)"
(closedMenu)="this.updateMainData()"></app-offcanvas>


<ng-container class="img-thumbnail" *ngFor="let meal of ['Breakfast', 'Launch', 'Snack', 'Dinner']; let i = index">
  <div class="container my-3 border border-dark shadow buttonCustomSection test" (click)="openStaticBackdrop(i)" [id]="'myDiv' + i" style="border-top-width: 0px!important;">
    <div class="row text-info">
      <div class="col-3 text-center py-4 m-a">
        <div class="mt-2">
          <fa-icon class="" icon="coffee"></fa-icon>
        </div>
      </div>
      <div class="col-6 py-2 text-center ">
        <p class="h6 m-0">{{ meal }}<p>
        <p  class="h10 m-0" >{{ calorieDisplay[i] }}<p>
        <p class="h10 m-0" >{{ calorieTotal[i] }}<p></p>
      </div>
      <div class="col-2 py-4 text-center">
        <button class="mt-2 border border-dark rounded-circle border-2 bg-danger buttonCustom" (mouseover)="removeClass()" (mouseout)="addClass()" style="width: 2em;">
          <fa-icon class="" icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>

  
