$dark-red:  #9c2531;
.buttonCustom {

  transition: background 0.8s;
  
  &:hover {
    background: darken($dark-red, 5%) radial-gradient(circle, transparent 1%, darken($dark-red, 5%) 1%) center/15000%;
  }
  
  &:active {
    background-color: darken($dark-red, 10%);
    background-size: 100%;
    transition: background 0s;
  }

}
.test{
  background-image: url('./../../assets/selector_custom_bg.png');
  background-size: 100%;
}
.buttonCustomSection {
  background-image: url('./../../assets/selector_custom_bg.png');
    transition: background 1s;
    background-size: 100%;

    
    &:active {
       
      opacity: 0.5;
      // background-color: darken;
      // background-size: 100%;
      // transition: background 0s;
    }
  }