:host ::ng-deep .tooltip-inner {
    font-size: 12px;
    max-width: 130px; /* optional: set the maximum width of the tooltip */
  }
  .login-link {
    text-decoration: none;
    cursor: pointer;
  }
  .login-link:hover {
    text-decoration: none;
    cursor: pointer;
  }