<div (touchstart)="posIni = $event.changedTouches[0].pageX"
      (touchend)="move($event.changedTouches[0].pageX)">
    <ngb-carousel style="z-index: 0;" id="myCarousel"
      #carousel
      [showNavigationArrows]="false"
      [showNavigationIndicators]="showNavigationIndicators"
      [interval]="0" 
      [wrap]="false"
      (slid)="addDateDay($event)"
    >
    <ng-template ngbSlide *ngFor="let date of userDatesCarousel; let i = index; let last = last">
      <div tabindex="0">
        <button class="carousel-control-prev" (click)="prevClick()">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" (click)="nextClick()">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      
      <div class="picsum-img-wrapper text-center">  
        <p>{{date}}</p>
      </div>
      <ng-container *ngIf="!last">
        <app-selector
          [currentDateData]="currentDateData[i]"
          (dataEmitter)="passdataEmitter($event)">
        </app-selector>
      </ng-container>
    </ng-template>
    
    </ngb-carousel>
</div>
