
#about {
  background: #212529;
  height: 70em;
  padding: 5em 0;
  p {
    line-height: 2em;
    font-size: 1.4em;
    margin: 0;
    color: #222;
  }
}


.col{
  p{
    white-space: nowrap;
  }
}

@media (max-width: 450px) {
  .col{
    p{
      font-size: 14px;
    }
  }
  
  }

.up-button{
  display: flex;
  justify-content: center;
  margin: 0;
  visibility: hidden;
  margin-left: 0 !important;
}
button{
  font-size: 12px;
}
.button-container{
  height: 0px;
  margin-bottom: 10px;
  

}
.pretty-btn {
  padding: 10px 20px;

  background-color: #271d5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-size: 200% 200%;
  background-position: center;

  &:hover {
    background-color: #271d5a;
    background-image: linear-gradient(to left, #a761d4 0%, #8c54e8 50%, #4f3cac 100%);
  }
}


nav {

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  // ul {
  //   padding: 0;
  //   margin: 0;
  //   list-style-type: none;
  //   float: right;
  // }
  
  li {
    margin-left: auto;
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: all .2s;
    :last-child {
      padding-right: 0;
    }
}
}
    
  
  a {
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
    :hover{
      color: #DDD;
    }
  }
  


#icon 
{
  display: inline-block;
  padding-top: .5em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-bg 
{
  background: #4f3cac;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
  //TODO find a better way
  padding-bottom: 158px;
  border-bottom-left-radius: 250px ;
  border-bottom-right-radius: 250px ;
}


header {
  position: relative;
  background-color: #4f3cac;
  //min-width: 720px;
  padding: 5em 0 1em;
  z-index: 2;
  border-bottom-left-radius: 150px ;
  border-bottom-right-radius: 150px ;

  h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    }
}



.bignadpis{
    font-size: 30px;
    margin-top: 60px;

}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;

}

.arrows path {
	stroke: #000d14;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
    



@media (min-width: 320px) {
  #middle{
    scroll-margin-top: 225px;
  }
}

@media (max-width: 425px) {
  .h1{
    margin-top: 0 !important;
    line-height: 0.5 !important;
  }
  
}
.row > *{
  padding: 0;
  
}