/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 //for some reason offcanvas would moves the body padding and overflow
 body{
    padding-right: 0px !important;
    overflow: auto !important;
}