<div class="container text-center bg-image d-flex flex-column w-100 nowrap" style="max-width: 100%;">
    <div class="row">
      <div class="col">
        <p class="h2 mt-5">{{projectName}}</p>
      </div>
    </div>
    <div class="row align-items-end mt-auto">
      <div class="col">
        <p class="h2 mb-5">{{projectDes}}</p>
        <button type="button" class="btn btn-success mb-5 w-50 py-3 " (click)="goToSighUp()" style="min-width: 120px;"><p class="h4">Sign up here!</p></button>
        <div class="mb-4"><p class="h4">Already have an account? <a class="h3 text-success login-link" (click)="goToLogin()">Log in</a></div>
      </div>
    </div>
  </div>
  