.bg-image {
    background-image: url('./../../assets/1775001.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .login-link {
    text-decoration: none;
    cursor: pointer;
  }
  .login-link:hover {
    text-decoration: none;
    cursor: pointer;
  }